<!--
 * @Author: your name
 * @Date: 2020-05-11 21:45:56
 * @LastEditTime: 2020-05-26 15:22:16
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \vue-demo\vue01.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,viewport-fit=cover, minimum-scale=1.0, maximum-scale=1.0">
    <title>todolist 2020/5/13 15:45  2020/5/20 18:00</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id='app'>
        <div class="todoList">
            <input type="text" v-model='value'>
            <button @click='valueCommit'>commit</button>
            <div>TODO</div>
            <ul>
                <!-- <li v-for="(item, index) in todoList" :key="index"
                    @click='todoClick(index)'>{{item}}</li> -->
                <li is='todo-cmp' 
                    v-for="(item, index) in todoList" :key="item.id"
                    :value="{item,index,type:'todo'}"
                    @todoclick='todoClick(index)'>

                </li>
            </ul>
            <div>DONE</div>
            <ul>
                <!-- <li v-for="(item, index) in doneList" :key="index" @click='doneClick(index)'>
                    {{item}}
                </li> -->
                <li is='todo-cmp' 
                    v-for="(item, index) in doneList" :key="item.id"
                    :value="{item,index,type:'done'}"
                    @doneclick='doneClick(index)'>
                </li>
            </ul>
        </div>
    </div>

    <script>
        Vue.component('todoCmp', {
            data() {
                return {
                    val: this.value
                }
            },
            props: {
                value:{
                    type:Object,
                    default:{}
                }
            },
            template: `<li @click="todoClick()">{{val.item.num}}::::{{val.index}}</li>`,
            methods:{
                todoClick(){
                    if(this.val.type=='todo'){
                        this.$emit('todoclick',this.value.index)
                    }else{
                        this.$emit('doneclick',this.value.index)
                    }
                }
            }
        })
        var app = new Vue({
            el: '#app',
            data: {
                value: '',
                todoList: [],
                doneList: [],
                newId: 0
            },
            mounted() {
                console.log('todo-list练习')
                let arr = ['a:1','b:2','c:3']
                let newArr = JSON.parse(JSON.stringify(arr))
                console.log(typeof newArr)
                console.log(newArr)
            },
            methods: {
                valueCommit() {
                    this.todoList.push({num :this.value, id:++this.newId})
                    this.value = ''
                },
                todoClick(index) {
                    let value = this.todoList[index]
                    this.doneList.push(value)
                    this.todoList.splice(index, 1)
                    console.log(this.todoList)
                    console.log(this.doneList)

                },
                doneClick(index) {
                    let value = this.doneList[index]
                    this.todoList.push(value)
                    this.doneList.splice(index, 1)
                    console.log(this.todoList)
                    console.log(this.doneList)
                }
            },
        })
    </script>
</body>

</html>